@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cookie-layout {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: solid 2px white;
  border-radius: 20px;
  padding: 20px;
  width: 250px;
}

.cookie-text {
  display: grid;
  gap: 20px;
  font-size: 18px;
}

.cookie-button {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cookie-icon {
  width: 40px;
  height: 40px;
}

.close-icon {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
